## House Price Range for `house-price` dataset
2021/06/21

In [1]:
import pandas as pd
house_price = pd.read_csv('./House_Price_Data/house_price.csv')
house_price

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [2]:
house_price['SalePrice']

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [3]:
house_price.describe().T

,count,mean,std,min,25%,50%,75%,max
Id,1460.0,730.500000,421.610009,1.0,365.75,730.5,1095.25,1460.0
MSSubClass,1460.0,56.897260,42.300571,20.0,20.00,50.0,70.00,190.0
LotFrontage,1201.0,70.049958,24.284752,21.0,59.00,69.0,80.00,313.0
LotArea,1460.0,10516.828082,9981.264932,1300.0,7553.50,9478.5,11601.50,215245.0
OverallQual,1460.0,6.099315,1.382997,1.0,5.00,6.0,7.00,10.0
OverallCond,1460.0,5.575342,1.112799,1.0,5.00,5.0,6.00,9.0
YearBuilt,1460.0,1971.267808,30.202904,1872.0,1954.00,1973.0,2000.00,2010.0
YearRemodAdd,1460.0,1984.865753,20.645407,1950.0,1967.00,1994.0,2004.00,2010.0
MasVnrArea,1452.0,103.685262,181.066207,0.0,0.00,0.0,166.00,1600.0
BsmtFinSF1,1460.0,443.639726,456.098091,0.0,0.00,383.5,712.25,5644.0
BsmtFinSF2,1460.0,46.549315,161.319273,0.0,0.00,0.0,0.00,1474.0
BsmtUnfSF,1460.0,567.240411,441.866955,0.0,223.00,477.5,808.00,2336.0
TotalBsmtSF,1460.0,1057.429452,438.705324,0.0,795.75,991.5,1298.25,6110.0
1stFlrSF,1460.0,1162.626712,386.587738,334.0,882.00,1087.0,1391.25,4692.0
2ndFlrSF,1460.0,346.992466,436.528436,0.0,0.00,0.0,728.00,2065.0
LowQualFinSF,1460.0,5.844521,48.623081,0.0,0.00,0.0,0.00,572.0
GrLivArea,1460.0,1515.463699,525.480383,334.0,1129.50,1464.0,1776.75,5642.0
BsmtFullBath,1460.0,0.425342,0.518911,0.0,0.00,0.0,1.00,3.0
BsmtHalfBath,1460.0,0.057534,0.238753,0.0,0.00,0.0,0.00,2.0
FullBath,1460.0,1.565068,0.550916,0.0,1.00,2.0,2.00,3.0
HalfBath,1460.0,0.382877,0.502885,0.0,0.00,0.0,1.00,2.0
BedroomAbvGr,1460.0,2.866438,0.815778,0.0,2.00,3.0,3.00,8.0
KitchenAbvGr,1460.0,1.046575,0.220338,0.0,1.00,1.0,1.00,3.0
TotRmsAbvGrd,1460.0,6.517808,1.625393,2.0,5.00,6.0,7.00,14.0
Fireplaces,1460.0,0.613014,0.644666,0.0,0.00,1.0,1.00,3.0
GarageYrBlt,1379.0,1978.506164,24.689725,1900.0,1961.00,1980.0,2002.00,2010.0
GarageCars,1460.0,1.767123,0.747315,0.0,1.00,2.0,2.00,4.0
GarageArea,1460.0,472.980137,213.804841,0.0,334.50,480.0,576.00,1418.0
WoodDeckSF,1460.0,94.244521,125.338794,0.0,0.00,0.0,168.00,857.0
OpenPorchSF,1460.0,46.660274,66.256028,0.0,0.00,25.0,68.00,547.0
EnclosedPorch,1460.0,21.954110,61.119149,0.0,0.00,0.0,0.00,552.0
3SsnPorch,1460.0,3.409589,29.317331,0.0,0.00,0.0,0.00,508.0
ScreenPorch,1460.0,15.060959,55.757415,0.0,0.00,0.0,0.00,480.0
PoolArea,1460.0,2.758904,40.177307,0.0,0.00,0.0,0.00,738.0
MiscVal,1460.0,43.489041,496.123024,0.0,0.00,0.0,0.00,15500.0
MoSold,1460.0,6.321918,2.703626,1.0,5.00,6.0,8.00,12.0
YrSold,1460.0,2007.815753,1.328095,2006.0,2007.00,2008.0,2009.00,2010.0
SalePrice,1460.0,180921.195890,79442.502883,34900.0,129975.00,163000.0,214000.00,755000.0

In [5]:
house_price['SalePrice'].describe()

count      1460.000000
mean     180921.195890
std       79442.502883
min       34900.000000
25%      129975.000000
50%      163000.000000
75%      214000.000000
max      755000.000000
Name: SalePrice, dtype: float64

+ ### House-Price-Range Setting : Method 1

In [6]:
house_price['sp1'] = house_price['SalePrice']

In [7]:
house_price[['SalePrice', 'sp1']].describe()

           SalePrice            sp1
count    1460.000000    1460.000000
mean   180921.195890  180921.195890
std     79442.502883   79442.502883
min     34900.000000   34900.000000
25%    129975.000000  129975.000000
50%    163000.000000  163000.000000
75%    214000.000000  214000.000000
max    755000.000000  755000.000000

In [8]:
sp = house_price['SalePrice']
house_price['sp1'][sp <= 129975.0] = 0     # SalePrice <= 1st Quartile (Q1)
house_price['sp1'][(129975.0 < sp) & (sp <= 163000.0)] = 1 # Q1 < SalePrice <= Median
house_price['sp1'][(163000.0 < sp) & (sp <= 214000.0)] = 2 # Median < SalePrice <= Q3
house_price['sp1'][214000.0 <= sp] = 3      # 3rd Quartile (Q3) <= SalePrice

house_price['sp1'].value_counts()

<ipython-input-8-58d0d0c55680>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_price['sp1'][sp <= 129975.0] = 0     # SalePrice <= 1st Quartile (Q1)
<ipython-input-8-58d0d0c55680>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_price['sp1'][(129975.0 < sp) & (sp <= 163000.0)] = 1 # Q1 < SalePrice <= Median
<ipython-input-8-58d0d0c55680>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_price['sp1'][(163000.0 < sp) & (sp <= 214000.0)] = 2 # Median < SalePrice <= Q3
<ipython-input-8-58d0d0c55680>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_price['sp1'][214000.0 <= sp] = 3      # 3rd Quartile (Q3) <= SalePrice

3    367
1    367
0    365
2    361
Name: sp1, dtype: int64

+ ### House-Price-Range Setting : Method 2

In [9]:
house_price['sp2'] = house_price['SalePrice']

In [10]:
house_price[['SalePrice', 'sp1', 'sp2']].describe()

           SalePrice          sp1            sp2
count    1460.000000  1460.000000    1460.000000
mean   180921.195890     1.500000  180921.195890
std     79442.502883     1.119642   79442.502883
min     34900.000000     0.000000   34900.000000
25%    129975.000000     0.750000  129975.000000
50%    163000.000000     1.000000  163000.000000
75%    214000.000000     3.000000  214000.000000
max    755000.000000     3.000000  755000.000000

In [11]:
import numpy as np
sp_range = np.linspace(34900.0, 755000, 11)  # 10 house-price ranges
sp_range

array([ 34900., 106910., 178920., 250930., 322940., 394950., 466960.,
       538970., 610980., 682990., 755000.])

In [12]:
sp = house_price['SalePrice']
for i in range(len(sp_range)-1):
    if i == 0: 
        house_price['sp2'][sp <= sp_range[i+1]] = 0
    else:
        house_price['sp2'][(sp_range[i] < sp) & 
                           (sp <= sp_range[i+1])] = i 

house_price['sp2'].value_counts()

<ipython-input-12-e749c9205683>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_price['sp2'][sp <= sp_range[i+1]] = 0
<ipython-input-12-e749c9205683>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_price['sp2'][(sp_range[i] < sp) &
<ipython-input-12-e749c9205683>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_price['sp2'][(sp_range[i] < sp) &
<ipython-input-12-e749c9205683>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_price['sp2'][(sp_range[i] < sp) &
<ipython-input-12-e749c9205683>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_price['sp2'][(sp_range[i] < sp) &
<ipython-input-12-e749c9205683>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_price['sp2'][(sp_range[i] < sp) &
<ipython-input-12-e749c9205683>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_price['sp2'][(sp_range[i] < sp) &
<ipython-input-12-e749c9205683>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_price['sp2'][(sp_range[i] < sp) &
<ipython-input-12-e749c9205683>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_price['sp2'][(sp_range[i] < sp) &
<ipython-input-12-e749c9205683>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house_price['sp2'][(sp_range[i] < sp) &

1    723
2    373
0    148
3    135
4     51
5     19
6      4
7      3
9      2
8      2
Name: sp2, dtype: int64

In [13]:
house_price[['SalePrice', 'sp1', 'sp2']].describe()

           SalePrice          sp1          sp2
count    1460.000000  1460.000000  1460.000000
mean   180921.195890     1.500000     1.542466
std     79442.502883     1.119642     1.119448
min     34900.000000     0.000000     0.000000
25%    129975.000000     0.750000     1.000000
50%    163000.000000     1.000000     1.000000
75%    214000.000000     3.000000     2.000000
max    755000.000000     3.000000     9.000000